@import "../../../assets/scss/pattern_color.scss";

.input-group-append {
    display: -webkit-box !important;
}
.input-group-append:hove {
    color: transparent;;
}
.text_right {
    text-align: right;
}

.SearchStaffGroup {
    i {
        font-size: 48px;
        position: absolute;
        left: -2px;
        top: -5px;
    }
}

.StaffCard:hover {
    background-color: $dark_color;
    color: $dark_text_color;
}
    
.StaffCard .card-body {
    padding: 0.5rem;
}