<div class="container">
  <h5 class="pb-2 mb-2 font-italic border-bottom">
    From the Firehose
  </h5>
  <form>
    <div class="form-row">
      <div class="input-group mb-3 col-sm-6">
        <input type="text" class="form-control" id="SearchName" placeholder="Recipient's username" aria-label="Recipient's username"
          aria-describedby="SearchNameHelp">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="SearchNameHelp">Button</button>
        </div>
      </div>
      <div class="form-group col-sm-6"><input type="text" class="form-control" id="SearchNameResult" placeholder="First name">
        
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input class="form-control" type="text" id="SearchName" aria-describedby="SearchNameHelp"
          placeholder="Search name">
        <button class="SearchNameButton" type="button" class="btn">
          <i class="material-icons">add_circle_outline</i>
        </button>
        <small id="SearchNameHelp" class="form-text text-muted">Search Name.</small>
      </div>
      <div class="form-group col-md-6"><input type="text" class="form-control" placeholder="First name">

      </div>
    </div>
  </form>
</div>