<div class="container">
  <h5 class="pb-2 mb-2 font-italic border-bottom">
    From the Firehose
  </h5>
  <form>
    <div class="form-group row">
      <!-- Staff Phone -->
      <div class="input-group col-md-6 formStaffPhone pb-2">
        <label for="formStaffPhone" class="col-sm-2 col-form-label">Phone*</label>
        <div class="col-sm-10">
          <input type="tel" [(ngClass)]="validationClassPhone" id="formStaffPhone" placeholder="Phone" [(ngModel)]="staff.Phone" name="Phone">
          <div class="valid-feedback">{{validationMessagePhone}}</div>
          <div class="invalid-feedback">{{validationMessagePhone}}</div>
        </div>
      </div>
      <!-- Staff Name -->
      <div class="input-group col-md-6 formStaffName pb-2">
        <label for="formStaffName" class="col-sm-2 col-form-label">Name*</label>
        <div class="col-sm-10">
          <input type="text" [(ngClass)]="validationClassName" id="formStaffName" placeholder="Name" [(ngModel)]="staff.Name" name="Name">
          <div class="valid-feedback">{{validationMessageName}}</div>
          <div class="invalid-feedback">{{validationMessageName}}</div>
        </div>
      </div>
      <!-- Staff Address -->
      <div class="input-group col-md-6 formStaffAddress pb-2">
        <label for="formStaffAddress" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="formStaffAddress" placeholder="Address" [(ngModel)]="staff.Address" name="Address">
        </div>
      </div>
      <!-- Staff Notes -->
      <div class="input-group col-md-6 formStaffNote pb-2">
        <label for="formStaffNote" class="col-sm-2 col-form-label">Note</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="formStaffNote">{{staff.Note}}</textarea>
        </div>
      </div>
      <!-- Action Buttons -->
      <div class="col-md-12 pt-3 text-right">
        <button type="button" class="btn btn-outline-success pull-right mr-1">Clear</button>
        <button type="button" class="btn btn-success pull-right ml-1" (click)="onSubmitForm()">save</button>
      </div>
    </div>
  </form>
</div>