<!-- Menu bar for large display -->
<div class="nav_large_screen">
  <nav class="navbar navbar-expand-md mb-5"></nav>
  <nav class="navbar navbar-expand-md navbar-dark nav_menu_color fixed-top">
    <a class="navbar-brand" href="#">{{appService.shopName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons">menu</i>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="AddStaffTransaction">Thêm Hàng Giao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="TransactionDashboard">Thống Kê Hàng Giao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="AddStaff">Thêm Thợ</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<!-- Menu bar for small display -->
<div class="nav_small_screen">
  <button type="button" class="btn btn-dark btn_circle_lg nav_menu_button dropdown-toggle" type="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="material-icons">menu</i>
  </button>
  <div class="dropdown-menu nav_menu_color">
    <!-- Dropdown menu links -->
    <a class="dropdown-item nav_menu_text_color" href="AddStaffTransaction">Thêm Hàng Giao</a>
    <a class="dropdown-item nav_menu_text_color" href="TransactionDashboard">Thống Kê Hàng Giao</a>
    <a class="dropdown-item nav_menu_text_color" href="AddStaff">Thêm Thợ</a>
  </div>
</div>