    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/TransactionDashboard" >Thống Kê</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/StaffTransaction">Thêm Hàng Giao</button>
          <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/Staff">Thêm Thợ</button>
        </div>
    </div>
    