<div class="container">
    <h5 class="pb-2 mb-2 font-italic border-bottom">
      Thống kê
    </h5>
    <table class="table" (click)="click()">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loại Fan</th>
            <th scope="col">Dài</th>
            <th scope="col">Cong</th>
            <th scope="col">Tóc</th>
            <th scope="col">Tổng</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transactionDashboard of transactionDashboards; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{transactionDashboard.Volume}}</td>
            <td>{{transactionDashboard.Length}}</td>
            <td>{{transactionDashboard.Curl}}</td>
            <td>{{transactionDashboard.Hair}}</td>
            <td>{{transactionDashboard.Quantity}}</td>
          </tr>
        </tbody>
        <tfoot class="bg-dark text-white">
            <tr>
              <td scope="col">Total</td>
              <td scope="col"></td>
              <td class="text_right" scope="col">Quantity</td>
              <td class="text_right" scope="col"></td>
              <td class="text_right" scope="col"></td>
              <td class="text_right" scope="col"></td>
            </tr>
          </tfoot>
      </table>

      <div>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
      </div>
  </div>
