<div class="container">
    <h5 class="pb-2 mb-2 font-italic border-bottom">
      From the Firehose
    </h5>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Volumn</th>
            <th scope="col">Length</th>
            <th scope="col">Curl</th>
            <th scope="col">Width</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
        <tfoot class="bg-dark text-white">
            <tr>
              <td scope="col">Total</td>
              <td scope="col"></td>
              <td class="text_right" scope="col">Quantity</td>
              <td class="text_right" scope="col"></td>
              <td class="text_right" scope="col"></td>
              <td class="text_right" scope="col"></td>
            </tr>
          </tfoot>
      </table>
  </div>
